<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS</title>
</head>
<body ng-app="demo">
    <div ng-controller="dellistitem">
        <h2>Displaying Names: </h2>
        <h3>By clicking on name it get disappers</h3>
        <ul>
            <li ng-repeat="name in namearr" ng-click="removelistitem(name)"> {{name}} </li>
        </ul>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module('demo',[])
        app.controller('dellistitem',['$scope',(s)=>{
            s.namearr = ['Mugunth','Karthik','Gowsick','Gokul'];
            console.log(s.namearr);
            s.removelistitem = (name) => {
                var index = s.namearr.indexOf(name);
                console.log(index);
                if(index != -1){
                    s.namearr.splice(index,1);
                }
            };

        }])
    </script>
</body>
</html>